/*=============================================================================
Title
Author: Brad Cannell
Created: 2019-11-19
Updated: 2019-11-19
=============================================================================*/

.banner-img {
  width: 100%;
}
